
<h1>Todo List</h1>

<div *ngFor="let work of todo;index as i">
  <!-- <p>{{i}}</p> -->
  <form #taskForm="ngForm" (ngSubmit)="completeTask(taskForm)">
    <h3>{{i+1}}.<button *ngIf="!work.completed">Complete</button>{{work.task}}
      <button (click)="removeTask(i)">X</button>
    </h3>
    <input hidden readonly name="completed" ngModel="{{i}}" />
   
  </form> 
 
</div>

<form #addForm="ngForm" (ngSubmit)="addTask(addForm)">
<input type="text" name="task" id="task" ngModel />

<button>Add</button>
</form> 