/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fefbd8;
  }
  /* div {
    background-color: #d5f4e6;
  } */
  h1{
      color: blue;
  }
  /* form{
      background-color:gold;
  } */
  button{
     
      background-color:lightcoral;
  }
  input{
    background-color:lightcoral;
    height: auto;
    width:  auto;
  }
  body {
    width: 300px;
    border: 10px solid pink;
    padding: 25px;
    margin: 10px;
  }